body div{
    height: 300px;
    width: 300px;
    border: 5px solid red;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    position: absolute;
    border-radius: 100%;
    animation: myAni 2s infinite;
}
@keyframes myAni{
    from{
        height: 1px;
        width: 1px;
    }
    to{
        height: 300px;
        width: 300px;
        opacity: 0;
    }
}